body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:234px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6795 {
  position:absolute;
  left:44px;
  top:35px;
  width:190px;
  height:80px;
  overflow:hidden;
}
#u6795_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6795_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6796 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
}
#u6797 {
  position:absolute;
  left:2px;
  top:32px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6795_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6795_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6798 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
}
#u6799 {
  position:absolute;
  left:2px;
  top:32px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6800 {
  position:absolute;
  left:234px;
  top:35px;
  width:620px;
  height:470px;
  overflow:hidden;
  visibility:hidden;
}
#u6800_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:470px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6800_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:470px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6801 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:470px;
}
#u6802 {
  position:absolute;
  left:2px;
  top:227px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6803 {
  position:absolute;
  left:26px;
  top:17px;
}
#u6803_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6803_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6804 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6805 {
  position:absolute;
  left:26px;
  top:115px;
}
#u6805_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6805_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6806 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6807 {
  position:absolute;
  left:26px;
  top:35px;
}
#u6807_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6807_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6808 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
