body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6790 {
  position:absolute;
  left:898px;
  top:333px;
}
#u6790_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6790_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u6791 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u6792 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6790_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6790_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u6793 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u6794 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
