body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:960px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:960px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:960px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:960px;
}
#u2 {
  position:absolute;
  left:2px;
  top:472px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Varela Round';
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u3 {
  position:absolute;
  left:805px;
  top:406px;
  width:357px;
  height:62px;
  font-family:'Varela Round';
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:47px;
  background:inherit;
  background-color:rgba(61, 201, 179, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Varela Round Bold', 'Varela Round Regular', 'Varela Round';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5 {
  position:absolute;
  left:830px;
  top:521px;
  width:258px;
  height:47px;
  font-family:'Varela Round Bold', 'Varela Round Regular', 'Varela Round';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:254px;
  word-wrap:break-word;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:960px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:960px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:960px;
}
#u8 {
  position:absolute;
  left:2px;
  top:472px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u9 {
  position:absolute;
  left:805px;
  top:406px;
  width:309px;
  height:62px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:47px;
  background:inherit;
  background-color:rgba(61, 201, 179, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Aharoni Negreta', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u11 {
  position:absolute;
  left:830px;
  top:521px;
  width:258px;
  height:47px;
  font-family:'Aharoni Negreta', 'Aharoni';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:254px;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:960px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.627450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:960px;
  color:#CCCCCC;
}
#u14 {
  position:absolute;
  left:2px;
  top:472px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:831px;
  top:446px;
  width:258px;
  height:47px;
}
#u17 {
  position:absolute;
  left:2px;
  top:16px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:831px;
  top:446px;
  width:256px;
  height:45px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:45px;
  background-color:transparent;
  font-family:'Varela Round';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
