body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1111px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 169, 183, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6809 {
  position:absolute;
  left:807px;
  top:479px;
  width:304px;
  height:12px;
}
#u6810 {
  position:absolute;
  left:2px;
  top:-2px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6811 {
  position:absolute;
  left:809px;
  top:481px;
  width:300px;
  height:8px;
  overflow:hidden;
}
#u6811_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6811_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:44px;
  background:inherit;
  background-color:rgba(212, 228, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6812 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:44px;
}
#u6813 {
  position:absolute;
  left:2px;
  top:14px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6814 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
  overflow:hidden;
}
#u6814_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6814_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
}
#u6815 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
}
#u6816 {
  position:absolute;
  left:2px;
  top:-4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6817 {
  position:absolute;
  left:809px;
  top:451px;
  width:220px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6818 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
